#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */







.signup-page {
  background-color: #f6fefc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.signup-page .overlap-group-wrapper {
  background-color: #f6fefc;
  height: 832px;
  overflow: hidden;
  width: 1280px;
}

.signup-page .overlap-group {
  height: 832px;
  left: -17px;
  position: relative;
  width: 1297px;
}

.signup-page .rectangle {
  background-color: #d9d9d9;
  border: 1px solid;
  border-color: #000000;
  height: 830px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 740px;
}

.signup-page .image {
  height: 832px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 790px;
}

.signup-page .img {
  height: 832px;
  left: 759px;
  position: absolute;
  top: 0;
  width: 538px;
}

.signup-page .vector {
  height: 832px;
  left: 616px;
  position: absolute;
  top: 0;
  width: 200px;
}

.signup-page .text-wrapper {
  color: #fdfdfd;
  font-family: "Inter-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 68px;
  left: 905px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 207px;
  width: 230px;
}

.signup-page .untitled-artwork {
  height: 156px;
  left: 940px;
  object-fit: cover;
  position: absolute;
  top: 73px;
  width: 156px;
}
