@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,800,800i,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orelega+One");
@import url("https://fonts.googleapis.com/css?family=Inter");
p {
  font-family: "Nunito Sans";
  color: #1F5E4B;
}

.neuphormicBox {
  /* get the input from https://neumorphism.io/#e0e0e0  */
  border-radius: 40px;
  background: #F6FEFC;
  box-shadow: 20px 20px 38px #dbe2e0, -20px -20px 38px #ffffff;
  padding: 5%;
  margin: 5%;
  position: relative;
}

.todayMealCards {
  position: absolute;
}

body, html {
  font-family: "Nunito Sans";
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F6FEFC;
}

.loginPage {
  margin: 0;
  height: 100vh;
}

.loginDetails {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.logo {
  height: 180px;
  width: 200px;
  margin: 20px;
  margin-top: 50px;
}

.loginImg {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin: 0;
}

.backgroundRight {
  background-color: #1F5E4B;
}

.backgroundLeft {
  background-color: #1F5E4B;
  display: flex;
  padding: 0;
}

.tagline {
  font-family: "Nunito Sans";
  font-size: 24px;
  text-align: center;
  color: #F6FEFC;
  letter-spacing: 2px;
}

.inputBox {
  font-family: "Nunito Sans";
  border-radius: 80px;
  width: 55vh;
  height: 60px;
  margin: 5px;
  padding-left: 50px;
  font-size: large;
}

.inputBox::-moz-placeholder {
  color: #1F5E4B;
}

.inputBox::placeholder {
  color: #1F5E4B;
}

.loginButton {
  background-color: #3EBC96;
  color: #F6FEFC;
  border: 0px;
  border-radius: 50px;
  font-size: 18px;
  padding: 10px 28px;
  text-align: center;
  font-family: "Nunito Sans";
  width: 40vh;
  height: 60px;
  margin-top: 40px;
}
.loginButton:hover {
  background: #319677;
  transition: all 0.3s ease;
}

.signupSmallText {
  text-align: center;
  margin-top: 20px;
  color: #F6FEFC;
}

.link {
  color: #3EBC96;
  font-style: italic;
}

.mealPlanContainer {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next row on smaller screens */
  justify-content: space-between;
}

.custom-navbar {
  background-color: #1F5E4B;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.homeNav h3 {
  font-family: "Nunito Sans";
  font-weight: bold;
  color: #F6FEFC;
  margin: 0;
}

.homeNav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeNav img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

#basic-navbar-nav {
  justify-content: end;
}

.createBtn {
  background-color: #3EBC96;
  color: #F6FEFC;
  border: 0px;
  border-radius: 50px;
  font-size: 16px;
  padding: 10px 28px;
  text-align: center;
  font-family: "Nunito Sans";
  font-weight: bold;
}
.createBtn:hover {
  background: #319677;
  transition: all 0.3s ease;
}

.btn-primary {
  --bs-btn-active-color: $secondaryCol;
  --bs-btn-active-bg: $secondaryCol;
  --bs-btn-active-border-color: $secondaryCol;
}

.navItem {
  display: flex;
  align-items: center;
}

.plusIcon {
  color: #F6FEFC;
  margin-right: 10px;
}

.navText {
  color: #F6FEFC;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: bold;
  margin-left: 40px;
  margin-right: 40px;
}

.navText:hover {
  color: #3EBC96;
  transition: 0.5s;
}

.exitIcon {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  color: #F6FEFC;
  cursor: pointer;
}
.exitIcon:hover {
  color: #3EBC96;
  transition: all 0.3s ease;
}

.navbar-toggler {
  color: transparent;
  border: 0;
}

.navbar-toggler-icon {
  width: 40px;
  height: 40px;
}

.carouselImg {
  width: 100%;
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(60%);
}

.carouselItem {
  position: "relative";
  text-align: "center";
}

.carouselCaption {
  position: "absolute";
  padding-top: 200px;
  padding-bottom: 200px;
  top: "50%";
  left: "50%";
  transform: "translate(-50%, -50%)";
}
.carouselCaption h1 {
  color: #F6FEFC;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 70px;
}

@media (max-width: 1400px) {
  .carouselCaption h1:nth-child(2) {
    display: none; /* Hide the second <h1> element on smaller screens */
  }
}
@media (max-width: 700px) {
  .carouselCaption h1 {
    font-size: 60px;
  }
}
.carousel-indicators {
  display: none;
}

h1 {
  color: #1F5E4B;
  font-weight: normal;
  font-family: "Nunito Sans";
  font-weight: bold;
}

h2, h3, h4, h5, h6 {
  color: #1F5E4B;
  font-weight: normal;
  font-family: "Nunito Sans";
  font-weight: bold;
}

.sideimg {
  max-width: 100%; /* Ensure the image fits within its container */
  height: 100%;
  display: block; /* Remove any default inline spacing */
  margin: 0 auto;
}

.inputImg {
  max-width: 100%;
  height: auto;
  height: 100%; /* This ensures the image's aspect ratio is maintained */
}

.inputButton {
  background-color: #3EBC96;
  color: #F6FEFC;
  border: 0px;
  border-radius: 50px;
  font-size: 16px;
  padding: 10px 28px;
  text-align: center;
  font-family: "Nunito Sans";
  width: 30%;
  margin-top: 20px;
  margin-right: 15px;
}
.inputButton:hover {
  background: #319677;
  transition: all 0.3s ease;
}

.formInputBox {
  font-family: "Nunito Sans";
  border-radius: 80px;
  height: 50px;
  width: 80%;
  margin: 5px;
  padding-left: 50px;
  font-size: large;
}

.stickyRow {
  position: sticky;
  top: 0;
  background-color: #F6FEFC; /* Add a background color or other styles as needed */
  z-index: 1;
  padding-top: 90px;
}

.indexedStep {
  color: #1F5E4B;
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid rgb(210, 220, 211);
  font-family: "Nunito Sans";
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 700px) {
  .indexedStep {
    font-size: 10px;
    width: 60px;
    height: 30px;
  }
}
@media (min-width: 701px) {
  .indexedStep {
    font-size: 16px;
    width: 100px;
    height: 40px;
  }
}
.indexedStep.accomplished {
  background-color: #1F5E4B;
  color: #F6FEFC;
  font-family: "Nunito Sans";
  border-style: none;
}

.RSPBprogressBar {
  height: 4px;
  width: 60%;
  line-height: 1;
  border-radius: 10px;
  position: relative;
  background-color: rgb(210, 220, 211);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
  margin: 30px auto;
  color: #1F5E4B;
}

.RSPBprogressBar .RSPBstep {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: absolute;
  transform: translateX(-50%);
  transition-property: all;
}

.RSPBprogressBar .RSPBprogressBarText {
  color: rgb(210, 220, 211);
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.RSPBprogressBar .RSPBprogression {
  position: absolute;
  transition: width 0.7s ease;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  background: #1F5E4B;
  z-index: -1;
}

.chooseBtn {
  background-color: #3EBC96;
  color: #F6FEFC;
  border: 0px;
  border-radius: 50px;
  font-size: 18px;
  padding: 10px 28px;
  text-align: center;
  font-family: "Nunito Sans";
}
.chooseBtn:hover {
  background: #319677;
  transition: all 0.3s ease;
}

.buttonPrimary {
  background-color: #1F5E4B;
  color: #F6FEFC;
  border: 0px;
  border-radius: 50px;
  font-size: 12px;
  padding: 10px 28px;
  text-align: center;
  font-family: "Nunito Sans";
  font-weight: bold;
}
.buttonPrimary:hover {
  background: #12382c;
  transition: all 0.3s ease;
}
.buttonPrimary:disabled {
  background-color: #3EBC96;
}
.buttonPrimary:focus {
  background-color: #3EBC96;
}
@media (max-width: 600px) {
  .buttonPrimary {
    font-size: 8px;
    padding: 0;
    width: 45px;
    height: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 601px) {
  .buttonPrimary {
    font-size: 11px;
    padding: 10px;
    width: 70px;
    height: 40px;
  }
}
@media (min-width: 1200px) {
  .buttonPrimary {
    /* Adjust styles for screens with a minimum width of 1200px or larger */
    font-size: 14px;
    padding: 10px;
    width: 90px;
    height: 50px;
  }
}

.mealCards {
  display: flex;
  justify-content: center;
}

.card {
  border: 0px;
  margin: 10px;
  background-color: transparent;
  height: 100%;
  width: 30vh;
}

@media (max-width: 600px) {
  .card {
    width: 220px;
  }
  .cardTitle {
    font-size: 13px;
  }
}
@media (min-width: 601px) {
  .card {
    width: 250px;
  }
  .cardTitle {
    font-size: 16px;
  }
}
@media (min-width: 1201px) {
  .card {
    width: 340px;
  }
  .cardTitle {
    font-size: 18px;
  }
}
.cardImg {
  border-radius: 30px;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  filter: brightness(80%);
}

.btnDiv {
  display: flex;
  justify-content: space-between;
}

.cardTitle {
  margin-top: 10px;
  font-family: "Nunito Sans";
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  text-transform: capitalize;
}

.finaliseBtn {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.finaliseType {
  font-family: "Nunito Sans";
  margin-top: 10px;
  margin-bottom: 10px;
}

.stickyBtn {
  position: sticky;
  top: 0;
}

.cancelBtn {
  background-color: transparent; /* Make the button background transparent */
  border: 0; /* Remove the button border */
  font-size: 18px; /* Adjust the font size for the "X" */
  cursor: pointer; /* Change the cursor to indicate it's clickable */
  color: #1F5E4B; /* Change the color to red or any other color you prefer */
  font-family: "Nunito Sans";
  font-weight: bold;
  font-size: 26px;
}

.recipeTitle {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
}

.recipePic {
  border-radius: 50px;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover; /* Preserve aspect ratio and cover the container */
  margin-bottom: 20px;
  margin-right: 10px;
}

.recipeInfo {
  border: 1px solid #3EBC96;
  background-color: #3EBC96;
  border-radius: 20px;
  margin-bottom: 40px;
}
.recipeInfo h6 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #F6FEFC;
}

.recipeDetails {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.recipeDetails h3 {
  margin-bottom: 20px;
}
.recipeDetails ol, .recipeDetails ul {
  font-family: "Nunito Sans";
  color: #1F5E4B;
}
.recipeDetails li {
  margin-bottom: 10px;
}

.popup {
  background-color: #F6FEFC;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 600px;
  margin: auto;
  overflow: auto;
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
  border: 0;
  border-radius: 50px;
}

.popupChild {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-title {
  color: #F6FEFC;
}

.manualSelectBtn {
  color: #F6FEFC;
  font-weight: normal;
  font-family: "Nunito Sans";
  background-color: #1F5E4B;
  color: #F6FEFC;
  border: 0px;
  border-radius: 50px;
  font-size: 14px;
  padding: 10px 28px;
  text-align: center;
  font-family: "Nunito Sans";
  border-radius: 20px;
}
.manualSelectBtn:hover {
  background: #12382c;
  transition: all 0.3s ease;
}

.popUpclass h2, .popUpclass p {
  padding-bottom: 10px;
  text-align: center;
  font-size: 36px;
}
.popUpclass h2 {
  padding-top: 5%;
}
.popUpclass button {
  color: #F6FEFC;
  font-weight: normal;
  font-family: "Nunito Sans";
  background-color: #1F5E4B;
  color: #F6FEFC;
  border: 0px;
  border-radius: 50px;
  font-size: 14px;
  padding: 10px 28px;
  text-align: center;
  font-family: "Nunito Sans";
  border-radius: 20px;
}
.popUpclass button:hover {
  background: #12382c;
  transition: all 0.3s ease;
}

.manualSearchBar {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.img-overlay {
  filter: brightness(70%);
}

.img-overlay-small {
  filter: brightness(75%);
  float: left;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.responsiveTable {
  overflow-x: auto;
}

@media (max-width: 430px) {
  .responsiveTable {
    font-size: 4px;
  }
  .responsiveTable th,
  .responsiveTable td {
    padding: 2px 6px;
  }
}
@media (min-width: 431px) {
  .responsiveTable {
    font-size: 8px;
  }
  .responsiveTable th,
  .responsiveTable td {
    padding: 8px 12px;
  }
}/*# sourceMappingURL=indexc.css.map */