@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,800,800i,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orelega+One');
@import url('https://fonts.googleapis.com/css?family=Inter');


//variables
$primaryCol: #1F5E4B;
$secondaryCol: #3EBC96;
$whiteTextCol: #F6FEFC;
$backgroundCol: #F6FEFC;
$primaryFont: "Nunito Sans";
$headerFont: "Inter";

//mixins
@mixin headerText(){ //for all the h1,2,3...
    color: $primaryCol;
    font-family: "Nunito Sans"
}

@mixin bodyText(){
    color: $primaryCol;
    font-weight: normal;
    font-family: "Nunito Sans"
}

@mixin whiteText(){
    color: $whiteTextCol;
    font-weight: normal;
    font-family: "Nunito Sans"
}
@mixin button($bg, $size) { //change button color and font size
    background-color: $bg;
    color: $whiteTextCol;
    border: 0px;
    border-radius: 50px;
    font-size: $size;
    padding: 10px 28px;
    text-align: center;
    font-family: $primaryFont;

    &:hover {
        background:darken($bg,10%);
        transition: all 0.3s ease;
    }
}

p{
    font-family: $primaryFont;
    color: $primaryCol;
}


//stuff
.neuphormicBox{
    /* get the input from https://neumorphism.io/#e0e0e0  */
    border-radius: 40px;
    background: $backgroundCol;
    box-shadow:  20px 20px 38px #dbe2e0,
                -20px -20px 38px #ffffff;
    padding: 5%;
    margin: 5%;
    position: relative;
}

.todayMealCards{
    position: absolute;
}

//vertical card

body, html {
    font-family: "Nunito Sans";
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F6FEFC; 
    overflow-x: hidden;
}

// LOGIN + SIGNUP PAGE

.loginPage{
    margin: 0;
    height: 100vh;
}

.loginDetails{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
.logo{
    height: 180px;
    width: 200px;
    margin: 20px;
    margin-top: 50px;
}

.loginImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0;
}

.backgroundRight{
    background-color: $primaryCol;
}
.backgroundLeft{
    background-color: $primaryCol;
    display: flex;
    padding: 0;
}

.tagline{
    font-family: $primaryFont;
    font-size: 24px;
    text-align: center;
    color: $whiteTextCol;
    letter-spacing: 2px;
}

.inputBox{
    font-family: $primaryFont;
    border-radius: 80px;
    width: 50vh;
    height: 60px;
    margin: 5px;
    padding-left: 50px;
    font-size: large;
}

.inputBox::placeholder{
    color: $primaryCol;
}

.loginButton{
    @include button($secondaryCol,18px);
    width: 40vh;
    height: 60px;
    margin-top: 40px;
}

.signupSmallText{
    text-align: center;
    margin-top: 20px;
    color: $whiteTextCol;
}

.link{
    color: $secondaryCol;
    font-style: italic;
}

//
.mealPlanContainer{
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next row on smaller screens */
    justify-content: space-between; 
}

// @media (max-width: 767px) {
//     .accordionCard{
//         width: 30vh;

// }
// }

// @media (max-width: 990px) {
//     .accordionCard{
//         width: 30vh;
// }
// }

// @media (max-width: 1024px) {
//     .accordionCard{
//         width: 50vh;
// }
// }

// @media (max-width: 990px){
//     .mealPlanContainer .myMealCard .card{
//         border: 0px;
//         margin: 10px;
//         background-color: transparent;
//         height: 100%;
//         width: 10vh;
//     }
// }

// @media (max-width: 1400px) {
//     .carouselCaption h1:nth-child(2) {
//       display: none; /* Hide the second <h1> element on smaller screens */
//     }
// }

// .mealPlanCard{
//     width: calc(33.33% - 20px); /* Adjust the width as needed */
//     margin: 50px;
// }

// NAVBAR
.custom-navbar{
    background-color: $primaryCol;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 100;

}

.homeNav h3{
    font-family: $primaryFont;
    font-weight: bold;
    color: $whiteTextCol;
    margin: 0;
}

.homeNav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeNav img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#basic-navbar-nav{
    justify-content: end;

}
.createBtn{
    @include button($secondaryCol, 16px);
    font-weight: bold;
    
}

.btn-primary{
    --bs-btn-active-color: $secondaryCol;
    --bs-btn-active-bg: $secondaryCol;
    --bs-btn-active-border-color: $secondaryCol;
}

.navItem{
    display: flex;
    align-items: center;
    // justify-content: center;
    // margin-left: 20px;
}


.plusIcon{
    color: $whiteTextCol;
    margin-right: 10px;
}

.navText{
    color: $whiteTextCol;
    font-family: $primaryFont;
    font-size: 18px;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 40px;
}

.navText:hover{
    color: $secondaryCol;
    transition: 0.5s;
}

.exitIcon{
    // margin-right: 10px;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    color: $whiteTextCol;
    cursor: pointer;

    &:hover{
        color:$secondaryCol;
        transition: all 0.3s ease;
    }
}

.navbar-toggler{
    color: transparent;
    border: 0; 
    
}

.navbar-toggler-icon{
    width: 40px;
    height: 40px;

}

//////////////////////////////Anan stuff below

//HOMEPAGE
 
//carousel

.carouselImg{
    width: 100%;
    height: calc(100vh - 84px);

    object-fit: cover;
    filter: brightness(60%);
    overflow: hidden;
}

.carouselItem{
    position: 'relative';
    text-align: 'center';
    overflow: hidden;
}

.carouselCaption{
    position: 'absolute';
    padding-top: 200px;
    padding-bottom: 180px;
    overflow: hidden;
    top: '50%'; // Vertically center the caption
    left: '50%'; // Horizontally center the caption
    transform: 'translate(-50%, -50%)'; // Center it perfectly

   
    
    h1{
        color: $whiteTextCol;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-size: 70px;
        
    }
    
}

@media (max-width: 1400px) {
    .carouselCaption h1:nth-child(2) {
      display: none; /* Hide the second <h1> element on smaller screens */
    }
}

@media (max-width: 992px) { /* Adjust this value based on when your navbar collapses */
    .custom-navbar {
      position: fixed;
      width: 100%;
      z-index: 100;
    }
    .carouselImg{
        width: 100%;
        height: 100vh;
    
        object-fit: cover;
        filter: brightness(60%);
        overflow: hidden;
    }
  }
@media (max-width: 700px){
    .carouselCaption h1{
        font-size: 60px;
    }
}
.carousel-indicators{
    display: none;
}
//for input page
h1{
    @include bodyText();
    font-weight: bold;
}

h2,h3,h4,h5,h6{
    @include bodyText();
    font-weight: bold;
}

  @mixin sideImage {
    max-width: 100%; /* Ensure the image fits within its container */
    height: 100%;
    display: block; /* Remove any default inline spacing */
    margin: 0 auto;
  }

  .sideimg{
    @include sideImage()
  }

  .inputImg{
    max-width: 100%;
    height: auto;
    height: 100%; /* This ensures the image's aspect ratio is maintained */
    
  }

    .inputButton{

        @include button($secondaryCol,16px );
        width: 30%;
        margin-top:20px;
        margin-right: 15px;

    }

    .formInputBox{
        font-family: $primaryFont;
        border-radius: 80px;
        height: 50px;
        width: 80%;
        margin: 5px;
        padding-left: 50px;
        font-size: large;
    }
    .lottieInput{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }

    @media (max-width: 992px) {
        .lottieInput{
            margin-top: 80px;
        }
      }
    /////////////////////////////Anan stuff end
    
    /// CHOOSE MEALS
    /// Step progress bar
    /// 
    .stickyRow {
        position: sticky;
        top: 0;
        background-color: $backgroundCol; /* Add a background color or other styles as needed */
        z-index: 1;
        padding-top: 90px;
    }

    .indexedStep { //textbox
        color: $primaryCol;
        font-size: 16px;
        font-weight: bold;
        width: 100px;
        height: 40px;
        background-color: white;
        border-radius: 20px;
        border: 1px solid rgb(210, 220, 211);
        font-family: $primaryFont;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .createMealHeader{
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: center;
    }
   
    @media (max-width: 992px) {
        .createMealHeader{
            margin-top: 100px;
        
        }
      } 
    @media (max-width: 700px) {
    .indexedStep{
        font-size: 10px;
        width: 60px;
        height: 30px;
        }
    }

  @media (min-width: 701px) {
    .indexedStep{
        font-size: 16px;
        width: 100px;
        height: 40px;
    }
  }


    .indexedStep.accomplished { 
        background-color: $primaryCol;
        color: $whiteTextCol;
        font-family: $primaryFont;
        border-style: none;
    }
    
    .RSPBprogressBar { //line
        height: 4px;
        width: 60%;
        line-height: 1;
        border-radius: 10px;
        position: relative;
        background-color: rgb(210, 220, 211);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 0;
        margin: 30px auto;
        color: $primaryCol; 
    }
    
    .RSPBprogressBar .RSPBstep {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        z-index: 0;
        position: absolute;
        transform: translateX(-50%);
        transition-property: all;
        
    }
    
    .RSPBprogressBar .RSPBprogressBarText {
        color: rgb(210, 220, 211);;
        font-size: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .RSPBprogressBar .RSPBprogression {
        position: absolute;
        transition: width 0.7s ease;
        left: 0;
        top: 0;
        bottom: 0;
        border-radius: 10px;
        background: $primaryCol;
        z-index: -1;
    }

    
    // @media screen and (max-width: 480px) {
    //     .indexedStep{
    //         width: 15px;
    //         height: 15px;
    //         font-size: 6px;
    //     }
    // }

    // .chooseMealsBtn{
    //     text-align: center;
    //     margin-top: 50px;
    //     margin-bottom: 50px;
    // }

    .chooseBtn{
        @include button($secondaryCol, 18px);
    }

    .buttonPrimary{
        @include button($primaryCol, 12px);
        font-weight: bold;

        &:disabled{
            background-color: $secondaryCol;
        }
        &:focus{
            background-color: $secondaryCol;
        }

        @media (max-width: 600px) {
            font-size: 8px;
            padding: 0;
            width: 45px;
            height: 25px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
      
        }

        @media (min-width: 601px) {
            font-size: 11px;
            padding: 10px;
            width: 70px;
            height: 40px;
        }

    
        @media (min-width: 1200px) {
            /* Adjust styles for screens with a minimum width of 1200px or larger */
            font-size: 14px;
            padding: 10px;
            width: 90px;
            height: 50px;
        }
    }

    
    .mealCards{
        display: flex;
        justify-content: center;
    }

//FINALISE MEAL PLAN PAGE
//RECIPE CARD 
.card{
    border: 0px;
    margin: 10px;
    background-color: transparent;
    height: 100%;
    width: 30vh;
    
}

@media (max-width: 600px) {
    .card {
      width: 220px;
    }

    .cardTitle{
        font-size: 13px; 
    }
  }

  @media (min-width: 601px) {
    .card {
      width: 250px;
    }

    .cardTitle{
        font-size: 16px; 
    }
  }

  @media (min-width: 1201px) {
    .card {
      width: 340px;
    }

    .cardTitle{
        font-size: 18px; 
    }
  }

  @media (min-width: 1600px) {
    .card {
      width: 400px;
    }

    .cardTitle{
        font-size: 18px; 
    }
  }


.cardImg{
    border-radius: 30px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    filter: brightness(80%);
}


.btnDiv{ //space between button
    display: flex;
    justify-content: space-between;
}

.cardTitle{
    margin-top: 10px;
    font-family: $primaryFont;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
    text-transform: capitalize;
    // font-size: 18px;
}

.finaliseBtn{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.finaliseType{
    font-family: $primaryFont;
    margin-top: 10px;
    margin-bottom: 10px;
}

//VIEW RECIPE POPUP

.stickyBtn{
    position: sticky;
    top: 0;
}
.cancelBtn{
    background-color: transparent; /* Make the button background transparent */
    border: 0; /* Remove the button border */
    font-size: 18px; /* Adjust the font size for the "X" */
    cursor: pointer; /* Change the cursor to indicate it's clickable */
    color: $primaryCol; /* Change the color to red or any other color you prefer */ 
    font-family: $primaryFont;
    font-weight: bold;
    font-size: 26px;
    
}

.recipeTitle{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;

}

.recipePic {
        border-radius: 50px;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        object-fit: cover; /* Preserve aspect ratio and cover the container */
        margin-bottom: 20px;
        margin-right: 10px;
      }

.recipeInfo{
    border: 1px solid $secondaryCol;
    background-color: $secondaryCol;
    border-radius: 20px;
    margin-bottom: 40px;

    h6{
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: $whiteTextCol;  
    }
}

.recipeDetails{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    h3{
        margin-bottom: 20px;
    }

    ol, ul{
        font-family: $primaryFont;
        color: $primaryCol;
    }

    li{
        margin-bottom: 10px;
    }
}

//POPUP BOX
//////for manual search
/// 

.popup {
    background-color: $backgroundCol;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 600px;
    margin:auto;
    overflow: auto;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    border: 0;
    border-radius: 50px;
  }
  
  .popupChild{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 
  }
  
  .card-title{
    color: $whiteTextCol
  }

  .manualSelectBtn{
      @include whiteText();
      @include button($primaryCol, 14px);
      border-radius: 20px;
  }
  

  .popUpclass {
        h2,p{
            padding-bottom: 10px;
            text-align: center;
            font-size: 36px;
        }

        h2{
            padding-top: 5%;
        }

        button{
            @include whiteText();
            @include button($primaryCol, 14px);
            border-radius: 20px;
        }
        

    }

    .manualSearchBar{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    
    .img-overlay{
      filter: brightness(70%);
    }
    .img-overlay-small{
      filter: brightness(75%);
      float: left;
      width:  100px;
      height: 100px;
      object-fit: cover;
    }
    


//////END for manual search b 

//responsive shopping cart table

.table {
    background-color: white;
}

.responsiveTable{
    overflow-x: auto;
}


@media (max-width: 430px) {
    .responsiveTable {
      font-size: 4px;
    }
    .responsiveTable th,
    .responsiveTable td {
      padding: 2px 6px;
    }
  }

@media (min-width: 431px) {
    .responsiveTable {
      font-size: 8px;
    }
    .responsiveTable th,
    .responsiveTable td {
      padding: 8px 12px;
    }
  }

//progress bar analytics
.progress{
    --bs-progress-bar-bg: #3EBC96;
    --bs-progress-font-size: 16px;
    --bs-progress-font-family: $primaryFont 
}
