@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,800,800i,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orelega+One');
@import url('https://fonts.googleapis.com/css?family=Inter');


//variables
$primaryCol: #1F5E4B;
$secondaryCol: #3EBC96;
$whiteTextCol: #F6FEFC;
$backgroundCol: #F6FEFC;
$primaryFont: "Nunito Sans";
$headerFont: "Inter";

//mixins
@mixin headerText(){ //for all the h1,2,3...
    color: $primaryCol;
    font-family: "Nunito Sans"
}

@mixin bodyText(){
    color: $primaryCol;
    font-weight: normal;
    font-family: "Nunito Sans"
}

@mixin whiteText(){
    color: $whiteTextCol;
    font-weight: normal;
    font-family: "Nunito Sans"
}
@mixin button($bg, $size) { //change button color and font size
    background-color: $bg;
    color: $whiteTextCol;
    border: 0px;
    border-radius: 50px;
    font-size: $size;
    padding: 10px 28px;
    text-align: center;
    font-family: $primaryFont;}

//     &:hover {
//         background:darken($bg,10%);
//         transition: all 0.3s ease;
//     }
// }

// p{
//     font-family: $primaryFont;
// }

//VERTICAL CARD
// .card{
//     width: 300px;
//     background: $backgroundCol;
//     padding: .4em;
//     border-radius: 6px;
//     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);    
// }   
//     x
// .card:hover{
//     transform: scale(1.05);
//     transition: 0.3s; 
//     }

// .card-category { //Card titlea
// font-size: 26px;
// font-weight: bold;
// font-family: $primaryFont;
// color: $primaryCol;
// padding: 10px 7px 0;
// }

// .card-category:hover {
// cursor: pointer;
// }

// .card-heading { //Card text
// font-weight: normal;
// font-size: 14px;
// @include bodyText();
// color: rgb(88, 87, 87);
// padding: 10px;
// }

// .card button{
//     border-radius: 20px;
//     @include whiteText();
//     border: 0;
//     @include button($primaryCol, 14px)
// }

// <img src="./pic.jpg" style="width:100%"/> --> NEED TO ADD STYLE TO IMG SRC


//stuff
// .neuphormicBox{
//     /* get the input from https://neumorphism.io/#e0e0e0  */
//     border-radius: 40px;
//     background: $backgroundCol;
//     box-shadow:  20px 20px 38px #dbe2e0,
//                 -20px -20px 38px #ffffff;
//     padding: 5%;
//     margin: 5%;
// }

// //vertical card

// body, html {
//     font-family: "Nunito Sans";
//     margin: 0;
//     padding: 0;
//     height: 100%;
//     background-color: #F6FEFC; 
// }

// // LOGIN + SIGNUP PAGE

.logo{
    height: 180px;
    width: 200px;
    margin: 20px;
    margin-top: 30px;
}

.foodimg{
    height: 500px;
    width: 400;
    margin: 0;
}

.backgroundRight{
    background-color: $primaryCol;
}
.backgroundLeft{
    background-color: $primaryCol;
}

.tagline{
    font-family: $headerFont;
    font-size: 24px;
    text-align: center;
    color: $whiteTextCol;
}

// .inputBox{
//     font-family: $primaryFont;
//     border-radius: 80px;
//     width: 55vh;
//     height: 60px;
//     margin: 5px;
//     padding-left: 50px;
//     font-size: large;
// }

// .inputBox::placeholder{
//     color: $primaryCol;
// }

// .loginButton{
//     @include button($secondaryCol,18px);
//     width: 40vh;
//     height: 60px;
//     margin-top: 40px;
// }

// .signupSmallText{
//     text-align: center;
//     margin-top: 20px;
//     color: $whiteTextCol;
// }

.link{
    color: $secondaryCol;
    font-style: italic;
}

// NAVBAR


.homeNav h3{
    font-family: $primaryFont;
    font-weight: bold;
    color: $whiteTextCol;
    margin: 0;
}

.homeNav img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.createBtn{
    @include button($secondaryCol, 16px);
    font-weight: bold;
}

.plusIcon{
    color: $whiteTextCol;
    margin-right: 10px;
}

span{
    color: $whiteTextCol;
    font-family: $primaryFont;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

span:hover{
    color: $secondaryCol;
    transition: 0.5s;
}

.profileIcon{
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    width: 30px;
}

//MAKE STICKY!!!!!!!!!!//


//////////////////////////////Anan stuff below


//for input page
h1{
    @include headerText()
}

h2,h3,h4,h5{
    @include bodyText();
    font-weight:bold
}

  @mixin sideImage {
    max-width: 100%; /* Ensure the image fits within its container */
    height: 100%;
    display: block; /* Remove any default inline spacing */
    margin: 0 auto;
  }

  .sideimg{
    @include sideImage()
  }

    .inputButton{

        @include button($secondaryCol, 16px );
        width: 30%;
        margin-top:20px;
        margin-right: 15px;

    }

    .formInputBox{
        font-family: $primaryFont;
        border-radius: 80px;
        height: 50px;
        margin: 5px;
        padding-left: 50px;
        font-size: large;
    }

//////for manual search
/// 

// .popup {
//     background-color: $backgroundCol;
   
//     position: absolute;
//     display: inline-block;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 70%;
//     height: 600px;
//     /* border: 2px solid #000; */
//     margin:auto;
//     overflow: auto;
//     padding: 2%;
//     /* padding-left: 2%; */
//     /* padding-right: 2%; */

//     border-radius: 50px; //i added this

    
//   }
  
//   .popupChild{
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
 
//   }
  
//   .card-title{
//     color: $whiteTextCol
//   }

//   .manualSelectBtn{
//       @include whiteText();
//       @include button($primaryCol, 14px);
//       border-radius: 20px;
//   }
  

//   .popUpclass {
//         h2,p{
//             padding-bottom: 10px;
//             text-align: center;
//             font-size: 36px;
//         }

//         h2{
//             padding-top: 5%;
//         }

//         button{
//             @include whiteText();
//             @include button($primaryCol, 14px);
//             border-radius: 20px;
//         }

        

//     }

//     .manualSearchBar{
//         width: 50%;
//         margin-left: auto;
//         margin-right: auto;
//     }

    
//     .img-overlay{
//       filter: brightness(70%);
//     }
//     .img-overlay-small{
//       filter: brightness(75%);
//       float: left;
//       width:  100px;
//       height: 100px;
//       object-fit: cover;
//     }
    


//////END for manual search



///home page stuff
.homePageBtn{
    @include whiteText();
    @include button($primaryCol, 14px);
    border-radius: 20px;
    width: 70%;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}


/////INPUT PAGE



.round{
    border-radius: 20px;
}

// .CreateMealBtn{
//     @include button($primaryCol, 20px);
//     border-radius: 30px;
//     width: 45%;
//     height: 50px;
//     margin-right: auto;
//     margin-left: auto;
//     text-align: center;
//     padding: 0px;
//     margin-top: 35px
// }

.ttt{
    height: 100px;
    width: 300px;
    

}

////Recipe card (for meal plan page)



// .ReceipeCardBtn{

//     @include whiteText();
//     @include button($primaryCol, 10px);
//     border-radius: 20px;
//     width: 120px;
//     height: 35px;
//     // margin-bottom: 30px;


//     line-height: 0px;
//     margin-right: 15px

// }

// .ReceipeCardBtnR{

//     @include whiteText();
//     @include button($primaryCol, 10px);
//     border-radius: 20px;
//     width: 120px;
//     height: 35px;
//     margin-left: 15px;
//     line-height: 0px;

// }

// RecipeTitle{
//     margin-top: 20px;
// }


// .cntr{
//     display: flex;
//     justify-content: center;
    
// }


// .img-overlay{
//     filter: brightness(70%);
//   }

/// shopping cart
.ShoppingCardBtn{

    @include whiteText();
    @include button($primaryCol, 14px);
    border-radius: 20px;
    width: 20px;
    height: 40px;
    padding: 0px;
    // text-align: center;
    // display: flex;
    // justify-content: center;

}

.shade{
    background-color: $secondaryCol;
}




// .extracolour{
    // color:#bcddd5;
// $C:#e4f3ef
// }

///table general stuff for shopping cart
table{
    background-color: $whiteTextCol;
}

th:first-of-type {
    border-top-left-radius: 25px;

  }
  th:last-of-type {
    border-top-right-radius: 25px;
  }
  tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 25px;
  }
  tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 25px;
  }


  ///finalise meal plan
// .RecalBtn{
//     @include whiteText();
//     @include button($primaryCol, 17px);
//     border-radius: 20px;
//     width: 120px;
//     height: 50px;
//     padding: 0px;
//     margin: 20px;
//     // text-align: center;
//     // display: flex;
//     // justify-content: center;

// }
  

///completed meals 
// .card{
//     margin-bottom: 15px; //I added this onto the .card class above
// }   


///current meal plan


// tabs

.custom-tab-title {
    color: rgb(42, 28, 28); /* Change 'red' to the color you want */
  }


.tabTitleStyle {
    color: 'red', // Change 'blue' to the color you want
};

.nav-link{
    color: $primaryCol;
    font-family: $primaryFont;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    border-radius: 50px;
    
    &:hover{
        color: $secondaryCol;
    }   
  }

.nav-tabs{
    background-color: $backgroundCol;
    --bs-nav-tabs-link-active-color: #F6FEFC;
    --bs-nav-tabs-link-active-bg: #3EBC96;
    border: 0;

    /////////////////////////////Anan stuff end
}

.accordionText{
    font-family: $primaryFont;
    font-size: 30px;
    font-weight: bold;
    margin: 15px;

}
