@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,800,800i,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orelega+One');

//variables
$primaryCol: #1F5E4B;
$secondaryCol: #3EBC96;
$whiteTextCol: #F6FEFC;
$backgroundCol: #F6FEFC;
$primaryFont: "Nunito Sans";
$headerFont: "Orelega One";

//mixins
@mixin headerText(){ //for all the h1,2,3...
    color: $primaryCol;
    font-family: "Orelega One"
}

@mixin bodyText(){
    color: $primaryCol;
    font-weight: normal;
    font-family: "Nunito Sans"
}

@mixin whiteText(){
    color: $whiteTextCol;
    font-weight: normal;
    font-family: "Nunito Sans"
}
@mixin button($bg, $size) { //change button color and font size
    background-color: $bg;
    color: $whiteTextCol;
    border: 0px;
    border-radius: 50px;
    font-size: $size;
    padding: 10px 28px;
    text-align: center;
    font-family: $primaryFont;

    &:hover {
        background:darken($bg,10%);
        transition: all 0.3s ease;
    }
}

p{
    font-family: $primaryFont;
}

//VERTICAL CARD
.card{
    width: 300px;
    background: $backgroundCol;
    padding: .4em;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}   
    x
.card:hover{
    transform: scale(1.05);
    transition: 0.3s; 
    }

.card-category { //Card titlea
font-size: 26px;
font-weight: bold;
font-family: $primaryFont;
color: $primaryCol;
padding: 10px 7px 0;
}

.card-category:hover {
cursor: pointer;
}

.card-heading { //Card text
font-weight: normal;
font-size: 14px;
@include bodyText();
color: rgb(88, 87, 87);
padding: 10px;
}

.card button{
    border-radius: 20px;
    @include whiteText();
    border: 0;
    @include button($primaryCol, 14px)
}

// <img src="./pic.jpg" style="width:100%"/> --> NEED TO ADD STYLE TO IMG SRC


//stuff
.neuphormicBox{
    /* get the input from https://neumorphism.io/#e0e0e0  */
    border-radius: 40px;
    background: $backgroundCol;
    box-shadow:  20px 20px 38px #dbe2e0,
                -20px -20px 38px #ffffff;
    padding: 5%;
    margin: 5%;
}

//vertical card

body, html {
    font-family: "Nunito Sans";
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F6FEFC; 
}

// LOGIN + SIGNUP PAGE

.logo{
    height: 180px;
    width: 200px;
    margin: 20px;
    margin-top: 30px;
}

.foodimg{
    height: 500px;
    width: 400;
    margin: 0;
}

.backgroundRight{
    background-color: $primaryCol;
}
.backgroundLeft{
    background-color: $primaryCol;
}

.tagline{
    font-family: $headerFont;
    font-size: 24px;
    text-align: center;
    color: $whiteTextCol;
}

.inputBox{
    font-family: $primaryFont;
    border-radius: 80px;
    width: 55vh;
    height: 60px;
    margin: 5px;
    padding-left: 50px;
    font-size: large;
}

.inputBox::placeholder{
    color: $primaryCol;
}

.loginButton{
    @include button($secondaryCol,18px);
    width: 40vh;
    height: 60px;
    margin-top: 40px;
}

.signupSmallText{
    text-align: center;
    margin-top: 20px;
    color: $whiteTextCol;
}

.link{
    color: $secondaryCol;
    font-style: italic;
}

// NAVBAR
.custom-navbar{
    background-color: $primaryCol;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 0 2px 4px 0 rgba(57, 67, 58, 0.2);
  
}

.homeNav h3{
    font-family: $primaryFont;
    font-weight: bold;
    color: $whiteTextCol;
    margin: 0;
}

.homeNav img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.createBtn{
    @include button($secondaryCol, 16px);
    font-weight: bold;
}

.plusIcon{
    color: $whiteTextCol;
    margin-right: 10px;
}

span{
    color: $whiteTextCol;
    font-family: $primaryFont;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

span:hover{
    color: $secondaryCol;
    transition: 0.5s;
}

.profileIcon{
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    width: 30px;
}

//MAKE STICKY!!!!!!!!!!//

//INPUT PAGE
h2{
    @include headerText();  
    font-size: 40px;
}

.text{
    font-family: $primaryFont;
    font-weight: bold;
    font-size: 20px;
    color: $primaryCol;
    padding-left: 20px;
    padding-bottom: 20px;
}

.genderSwitch{
    height: 20px;
    width: 50px;
}

.switchText{
    color: $primaryCol;
    font-size: 16px;
}




