@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,800,800i,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orelega+One');

//variables
$primaryCol: #1F5E4B;
$secondaryCol: #3EBC96;
$whiteTextCol: #F6FEFC;
$backgroundCol: #F6FEFC;
$primaryFont: "Nunito Sans";
$headerFont: "Orelega One";

//mixins
@mixin headerText(){ //for all the h1,2,3...
    color: $primaryCol;
    font-family: "Orelega One"
}

@mixin bodyText(){
    color: $primaryCol;
    font-weight: normal;
    font-family: "Nunito Sans"
}

@mixin whiteText(){
    color: $whiteTextCol;
    font-weight: normal;
    font-family: "Nunito Sans"
}
@mixin button($bg, $size) { //change button color and font size
    background-color: $bg;
    color: $whiteTextCol;
    border: 0px;
    border-radius: 50px;
    font-size: $size;
    padding: 10px 28px;
    text-align: center;
    font-family: $primaryFont;

    &:hover {
        background:darken($bg,10%);
        transition: all 0.3s ease;
    }
}

p{
    font-family: $primaryFont;
    color: $primaryCol;
}


//stuff
.neuphormicBox{
    /* get the input from https://neumorphism.io/#e0e0e0  */
    border-radius: 40px;
    background: $backgroundCol;
    box-shadow:  20px 20px 38px #dbe2e0,
                -20px -20px 38px #ffffff;
    padding: 5%;
    margin: 5%;
    position: relative;
}

.todayMealCards{
    position: absolute;
}

//vertical card

body, html {
    font-family: "Nunito Sans";
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F6FEFC; 
}

// LOGIN + SIGNUP PAGE

.loginPage{
    margin: 0;
    height: 100vh;
}

.loginDetails{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
.logo{
    height: 180px;
    width: 200px;
    margin: 20px;
    margin-top: 50px;
}

.foodimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0;
}

.backgroundRight{
    background-color: $primaryCol;
}
.backgroundLeft{
    background-color: $primaryCol;
    display: flex;
    padding: 0;
}

.tagline{
    font-family: $headerFont;
    font-size: 24px;
    text-align: center;
    color: $whiteTextCol;
}

.inputBox{
    font-family: $primaryFont;
    border-radius: 80px;
    width: 55vh;
    height: 60px;
    margin: 5px;
    padding-left: 50px;
    font-size: large;
}

.inputBox::placeholder{
    color: $primaryCol;
}

.loginButton{
    @include button($secondaryCol,18px);
    width: 40vh;
    height: 60px;
    margin-top: 40px;
}

.signupSmallText{
    text-align: center;
    margin-top: 20px;
    color: $whiteTextCol;
}

.link{
    color: $secondaryCol;
    font-style: italic;
}

// NAVBAR
.custom-navbar{
    background-color: $primaryCol;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 0 2px 4px 0 rgba(57, 67, 58, 0.2);
    position: sticky;
    top: 0;
    z-index: 100;

}

.homeNav h3{
    font-family: $primaryFont;
    font-weight: bold;
    color: $whiteTextCol;
    margin: 0;
}

.homeNav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeNav img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#basic-navbar-nav{
    justify-content: end;
}
.createBtn{
    @include button($secondaryCol, 16px);
    font-weight: bold;
}

.navItem{
    display: flex;
    align-items: center;

}
.plusIcon{
    color: $whiteTextCol;
    margin-right: 10px;
}

.navText{
    color: $whiteTextCol;
    font-family: $primaryFont;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

.navText:hover{
    color: $secondaryCol;
    transition: 0.5s;
}

.exitIcon{
    margin-left: 10px;
    margin-right: 10px;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
}

//////////////////////////////Anan stuff below


//for input page
h1{
    @include headerText()
}

h2,h3,h4,h5{
    @include bodyText();
    font-weight: bold;
}

  @mixin sideImage {
    max-width: 100%; /* Ensure the image fits within its container */
    height: 100%;
    display: block; /* Remove any default inline spacing */
    margin: 0 auto;
  }

  .sideimg{
    @include sideImage()
  }

    .inputButton{

        @include button($secondaryCol,16px );
        width: 30%;
        margin-top:20px;
        margin-right: 15px;

    }

    .formInputBox{
        font-family: $primaryFont;
        border-radius: 80px;
        height: 50px;
        margin: 5px;
        padding-left: 50px;
        font-size: large;
    }
    /////////////////////////////Anan stuff end
    
    /// CHOOSE MEALS
    /// Step progress bar
    /// 
    .stickyRow {
        position: sticky;
        top: 0;
        background-color: $backgroundCol; /* Add a background color or other styles as needed */
        z-index: 1;
        padding-top: 100px;
    }

    .indexedStep {
        color: $primaryCol;
        font-size: 16px;
        font-weight: bold;
        width: 100px;
        height: 40px;
        background-color: white;
        border-radius: 20px;
        border: 1px solid $primaryCol;
        font-family: $primaryFont;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
   
    .indexedStep.accomplished {
        background-color: $primaryCol;
        color: $whiteTextCol;
        font-family: $primaryFont;
        border-style: none;
    }
    
    .RSPBprogressBar {
        height: 2px;
        width: 60%;
        line-height: 1;
        border-radius: 10px;
        position: relative;
        background-color: rgb(207, 207, 207);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 0;
        margin: 50px auto;
        color: $primaryCol; 
    }
    
    .RSPBprogressBar .RSPBstep {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        z-index: 0;
        position: absolute;
        transform: translateX(-50%);
        transition-property: all;
        transition-timing-function: ease;
    }
    
    .RSPBprogressBar .RSPBprogressBarText {
        color: white;
        font-size: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .RSPBprogressBar .RSPBprogression {
        position: absolute;
        transition: width 0.3s ease;
        left: 0;
        top: 0;
        bottom: 0;
        border-radius: 10px;
        background: $primaryCol;
        z-index: -1;
        background-color: $primaryCol;
        color: $primaryCol;
    }
    
    .bg-percentageBar{
        color: $primaryCol;
    }
    
    @media screen and (max-width: 480px) {
        .indexedStep{
            width: 15px;
            height: 15px;
            font-size: 6px;
        }
    }

    .chooseMealsBtn{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .chooseBtn{
        @include button($secondaryCol, 20px)
    }
    .buttonPrimary{
        @include button($primaryCol, 12px);
        font-weight: bold;

        &:disabled{
            background-color: $secondaryCol;
        }
        &:focus{
            background-color: $secondaryCol;
        }


    }

    .mealCards{
        display: flex;
        justify-content: center;
    }

//FINALISE MEAL PLAN PAGE
//RECIPE CARD 
.card{
    border: 0px;
    margin: 10px;
    background-color: transparent;
    
}

.cardImg{
    border-radius: 30px;
    max-width: 100%;
    max-height: 120%;
    object-fit: cover;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    filter: brightness(70%);
}


.btnDiv{ //space between button
    display: flex;
    justify-content: space-between;
}

.cardTitle{
    margin-top: 10px;
    font-family: $primaryFont;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
    text-transform: capitalize;
}

.finaliseBtn{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.finaliseType{
    font-family: $primaryFont;
    margin-top: 10px;
    margin-bottom: 10px;
}

//VIEW RECIPE POPUP

.stickyBtn{
    position: sticky;
    top: 0;
}
.cancelBtn{
    background-color: $primaryCol; /* Make the button background transparent */
    border: 1px solid $primaryCol; /* Remove the button border */
    font-size: 20px; /* Adjust the font size for the "X" */
    cursor: pointer; /* Change the cursor to indicate it's clickable */
    color: $whiteTextCol; /* Change the color to red or any other color you prefer */
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 50%;
    font-family: $primaryFont;
    
}

.recipeTitle{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 60px;
}

.recipeTitle h1{
    font-size: 50px;
}

.recipeCalories{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height:50px;

    border: 1px solid $secondaryCol;
    border-radius: 50px;
    background-color: $secondaryCol;
    color: $whiteTextCol;

    margin-right: 60px;
    margin-left: 60px;
    margin-top: 5px;
    margin-bottom: 5px;

    padding-top: 10px;
    padding-bottom: 10px;

}

.recipePic{
    border-radius: 50px;
    height: 80%;
    width: 100%;
    margin-bottom: 20px;
}

.recipeDetails{
    padding-left: 10px;
    padding-right: 10px;
}

//POPUP BOX
//////for manual search
/// 

.popup {
    background-color: $backgroundCol;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 600px;
    margin:auto;
    overflow: auto;
    padding-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    border: 0;
    border-radius: 50px;
  }
  
  .popupChild{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 
  }
  
  .card-title{
    color: $whiteTextCol
  }

  .manualSelectBtn{
      @include whiteText();
      @include button($primaryCol, 14px);
      border-radius: 20px;
  }
  

  .popUpclass {
        h2,p{
            padding-bottom: 10px;
            text-align: center;
            font-size: 36px;
        }

        h2{
            padding-top: 5%;
        }

        button{
            @include whiteText();
            @include button($primaryCol, 14px);
            border-radius: 20px;
        }
        

    }

    .manualSearchBar{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    
    .img-overlay{
      filter: brightness(70%);
    }
    .img-overlay-small{
      filter: brightness(75%);
      float: left;
      width:  100px;
      height: 100px;
      object-fit: cover;
    }
    


//////END for manual search b 
