.headertxt{
    color: #1F5E4B;
    font-family: "Orelega One";
    font-size: 50px;
    font-style: normal;
    font-weight:bolder;
    line-height: normal;

}

.smalltxt{
    color: #1F5E4B;
    font-family: "Orelega One";
    font-size: 32px;
    font-style: normal;
    font-weight:bolder;
    line-height: normal;

}

.n{
    padding: 20px;
    background-color: darkgreen;
}

img{
    max-width: 100%; /* Ensure the image fits within its container */
    height: 100%;
}


.inbar{
    border-radius: 10px;
background: #D9D9D9;
width: 90px;
height: 40px;
}

.dropbar{
    border-radius: 10px;
background: #D9D9D9;
width: 75px;
height: 40px;
}

.dropbar2{
    border-radius: 10px;
background: #D9D9D9;
width: 87px;
height: 40px;
}

/* Custom CSS */
.custom-switch .custom-control-label::before {
    background-color: #1F5E4B;
  }
  
  /* Custom CSS for Male/Female labels */
  .custom-switch .custom-control-label::after {
    content: 'Male';
  }
  
  .custom-switch .custom-control-label::before {
    content: 'Female';
  }
  
  .mar{
    margin-top: 28px;
  }



  .checkbx{
    width: 37px;
    height: 34px;
    border-radius: 10px;
    background: #D9D9D9;
  }

  .b{
    font-weight: 700;
  }

  .greenbutton{
    padding: 20px;
    width: 210px;
    height: 54px;
    margin: auto;
    border-radius: 25px;
background: #1F5E4B;
    flex-shrink: 0;
flex-direction: column;
justify-content: center;
color: #F6FEFC;
text-align: center;
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
 


